<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.crm.dao.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MarketServlet</servlet-name>
    <servlet-class>com.crm.dao.servlet.MarketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.crm.dao.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PlanServlet</servlet-name>
    <servlet-class>com.crm.dao.servlet.PlanServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.crm.dao.servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServeServlet</servlet-name>
    <servlet-class>com.crm.dao.servlet.ServeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DictionaryServlet</servlet-name>
    <servlet-class>com.crm.dao.servlet.DictionaryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AnalysisServlet</servlet-name>
    <servlet-class>com.crm.dao.servlet.AnalysisServlet</servlet-class>
  </servlet>






 



  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/servlet/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarketServlet</servlet-name>
    <url-pattern>/servlet/MarketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlanServlet</servlet-name>
    <url-pattern>/servlet/PlanServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/servlet/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServeServlet</servlet-name>
    <url-pattern>/servlet/ServeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DictionaryServlet</servlet-name>
    <url-pattern>/servlet/DictionaryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnalysisServlet</servlet-name>
    <url-pattern>/servlet/AnalysisServlet</url-pattern>
  </servlet-mapping>


</web-app>